<h2>Movies</h2>

<div>
  {{input type="text" value=searchTerm}}

  <h3>
    {{#if searchTerm}}
      {{#if searchInProgress}}
        Searching...
      {{else}}
        {{#if content}}
          Movies matching <em>{{searchTerm}}</em>
        {{else}}
          No movies match <em>{{searchTerm}}</em>
        {{/if}}
      {{/if}}
    {{/if}}
  </h3>
</div>

{{#if content}}
  {{#unless searchInProgress}}
    <table>
      <tbody>
        {{#each}}
          <tr>
            <td><img {{bind-attr src="poster_url"}}></img></td>
            <td>{{name}} ({{year}})</td>
            <td>{{triggers.length}} Triggers</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
{{/if}}