<h2>Titles</h2>

{{input type="text" value=searchTerm}}

<table>
  <tbody>
    {{#each}}
      <tr>
        <td><img {{bindAttr src="poster_url"}}></img></td>
        <td>{{name}} ({{year}})</td>
        <td>{{triggers.length}} Triggers</td>
      </tr>
    {{/each}}
  </tbody>
</table>